<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Document</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./asset/cssmin/style.min.css">
  <!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./asset/js/script.js"></script>
</head>
<body>
  <header>
    <h1 class="heading">Weather</h1>
  </header>

  <div id="wrapper">

    <div class="weather">
      <div class="">
    </div>

</body>
</html>
